@import "./../variables.scss";

.artist-container {
  display: flex;
  flex-direction: row;
  flex-wrap:nowrap;
  justify-content: center;
  background: $horizontal-black-background;
  border-top: $master-border;
  border-bottom: $master-border;
  max-height: 65vh;
  overflow: auto;
}

.image-wrapper {
  margin: 50px;
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.desc {
  width: 70%;
  margin-top: 70px;
  font-size: 22x;
  font-family: 'Handwitten';
  padding: 0 10% 0 10%;
}
