@import "./../variables.scss";

.artist-container {
  display: flex;
  flex-direction: row;
  flex-wrap:nowrap;
  justify-content: center;
}

.image-wrapper {
  margin: 50px;
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.desc {
  width: 70%;
  margin-top: 30px;
  font-size: 22x;
  // font-style: italic;
  font-family: 'Handwitten';
  padding: 0 10% 0 10%;
}
