<div class="about-container">
  <div class="desc">Taylor ink was esablished in 2021 by Thuyhau (Taylor)</div>
  <div class="desc">Taylor has been tattooing since 2014</div>
  <div class="desc">
    Not constrained by any style, here we allow you to express yourself by
    giving you the best tattoo we can
  </div>
  <div class="desc">
    So let your imaginations run wild! We are here to transform your thoughts
    into ink.
  </div>
  <div class="desc">For getting in touch, checkout the contact page.</div>
</div>
