<div class="contact-container">
  <div class="item">
    <div>For Tattoo Inquiries please email or text</div>
    <div>Freestyle, all ideas are accepted!</div>
    <div>Currently no walk ins accepted. Appointment only!</div>
  </div>
  <div class="item">
    <i class="fa-solid fa-phone icon"></i>
    <a class="link" href="tel:669-264-9187">669-264-9187</a>
  </div>
  <div class="item">
    <i class="fa-solid fa-envelope icon"></i>
    <a class="link" href="mailto:taylorink199i@gmail.com">
      taylorink199i@gmail.com
    </a>
  </div>
  <div class="item">
    <i class="fa-solid fa-map-location-dot icon"></i>
    <a class="link" href="https://goo.gl/maps/SpuFTVRgxVxkrE4M7"
      >2955 Senter Rd Ste 20 San Jose, CA 95111</a
    >
  </div>
</div>
