@import "./../variables.scss";
@import "./../../../node_modules/bootstrap/scss/bootstrap";

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  align-items: center;
  overflow: auto;
  background: $horizontal-black-background;
}
 
.gallery-item.g-image-item {object-fit: scale-down !important;}

.item {
  padding: 8px;
  align-self: center;
  flex: auto;
  max-width: 33%;
}

.thumbnail {
  :hover {
    transition: 0.5s ease;
    opacity: 50%;
  }
}

.thumbnail:hover .overlay {
  opacity: 0.8;
}

img {
  object-fit: scale-down;
  width: 180px;
  height: 230px;
  border-radius: 10%;
  padding: 8px;

  :hover {
    opacity: 0.8;
  }
}
 
.mat-tab-group {
  margin: 48px;
  background-color: $color-black;
}

::ng-deep .mdc-tab__text-label{
  color:white !important;
  font-size: 12px;
  font-weight: bold;
}

:host ::ng-deep .mdc-tab--active {
  border: $master-border;
  background-color: $color-black;
}

.container {
  max-height: 73vh;
  width: 100vh;
}