<div class="map-container">
  <div class="item">
    Located in San Jose the studio is is a professional and welcoming space where clients can feel comfortable. 
    Our studio is equipped with state-of-the-art equipment and follows strict sterilization protocols to ensure the safety of our clients. 
    We also provide aftercare instructions and products to help clients properly care for their new tattoos as they heal. 
    Whether you're a seasoned tattoo collector or getting your first tattoo, we make the experience as enjoyable and stress-free as possible.
  </div>
  <div class="item">
    <a href="https://goo.gl/maps/SpuFTVRgxVxkrE4M7"
      ><img
        src="./../../assets/map_location.jpg"
        class="d-block w-100"
        alt="..."
    /></a>
  </div>
</div>
