<div class="about-container">
  <div class="desc">Taylor ink was esablished in 2021 by Thuyhau (Taylor)</div>
  <div class="desc">Taylor has been tattooing since 2014</div>
  <div class="desc">
    Not constrained by any style, here we allow you to express yourself by
    giving you the best tattoo we can
  </div>
  <div class="desc">
    So let your imaginations run wild! We are here to transform your thoughts
    into ink.
  </div>
  <div class="desc">For getting in touch, checkout the contact page.</div>
</div>


<div class="map-container">
  <div class="item">
    <div class="about-container">
      <div class="desc">Studio</div>
      <div class="desc">    Located in San Jose the studio is is a professional and welcoming space where clients can feel comfortable. 
        Our studio is equipped with state-of-the-art equipment and follows strict sterilization protocols to ensure the safety of our clients. 
        We also provide aftercare instructions and products to help clients properly care for their new tattoos as they heal. 
        Whether you're a seasoned tattoo collector or getting your first tattoo, we make the experience as enjoyable and stress-free as possible.</div>
      <div class="desc">For getting in touch, checkout the contact page.</div>
    </div>
  </div>
  <div class="img-container">
    <a href="https://goo.gl/maps/SpuFTVRgxVxkrE4M7"
      ><img
        src="./../../assets/map_location.jpg"
        class="d-block w-100"
        alt="..."
    /></a>
  </div>
</div>
