.map-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 16px;
}

.item {
  padding: 8px;
  align-self: center;
  flex: auto;
  max-width: 33%;

  :hover {
    transition: 0.5s ease;
    opacity: 50%;
  }
}

img {
  object-fit: contain;
  border-radius: 5%;
}
