@import "./../../node_modules/bootstrap/scss/bootstrap";
@import "./variables.scss";
@import "~font-awesome/css/font-awesome.min.css";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";

.base {
  width: 100%;
  align-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: $master-font;
  color: $color-white;
  background-color: $color-black;
  background-image: url("./../assets/background.jpg");
  height: 100vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.title {
  align-content: center;
  text-align: center;
  border-bottom: $master-border;
  width: 100%;
  padding: 10px;
  background: $horizontal-black-background;
}

.logo {
  max-height: 100px;
}

.banner {
  font-size: 14px;
  text-align: center;
  width: 100%;
}

.home {
  width: 100%;
  align-content: center;
  text-align: center;
  font-family: $master-font;
  font-size: 20px;
  color: $color-white;
  font-weight: normal;
}

.nav {
  background-color: $color-black;
  background: $horizontal-black-background;
}

.nav-option {
  color: $color-white;
  font-size: 14px;
  font-weight: bold;
}

.nav-option:hover {
  color: $color-aqua;
  border: $master-border;
}

.nav-link:active {
  color:  $color-aqua !important;
}

.nav-option:active {
  color: $color-aqua !important;
}

.mat-tab-group {
  margin: 48px;
  background-color: $color-black;
}

::ng-deep .mdc-tab__text-label{
  color:white !important;
  font-size: 12px;
  font-weight: bold;
}

:host ::ng-deep .mdc-tab--active {
  border: $master-border;
  background-color: $color-black;
}


.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  border-top: $master-border;
  border-bottom: $master-border;
  position: absolute;
  bottom: 0;
  width: 100%;
  :hover {
    color: $color-aqua
  }
  background: $horizontal-black-background;
}

.social {
  padding: 16px;
  font-size: 32px;
  width: 100;
  text-decoration: none;
  color: $color-white;

  :hover {
    color: $color-aqua
  }
}
