// Then import Bootstrap
@import "./../../node_modules/bootstrap/scss/bootstrap";
@import './variables.scss';


.home {
    display: flex;
    align-content: center;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: white; 
}
