@import "./../../node_modules/bootstrap/scss/bootstrap";
@import "./variables.scss";
@import "~font-awesome/css/font-awesome.min.css";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";

.base {
  width: 100%;
  align-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: $master-font;
  color: $color-white;
  background-color: $color-black;
  background-image: url("./../assets/background.jpg");
  height: 100vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.title {
  align-content: center;
  text-align: center;
  border-bottom: 1px solid $color-white;
  width: 100%;
  padding: 10px;
}

.logo {
  max-height: 100px;
}

.banner {
  font-size: 14px;
  text-align: center;
  width: 100%;
}

.home {
  width: 100%;
  align-content: center;
  text-align: center;
  font-family: $master-font;
  font-size: 20px;
  color: $color-white;
  font-weight: normal;
}

.nav {
  border-bottom: 1px solid $color-white;
  background-color: $color-black;
}

.nav-option {
  color: $color-white;
  font-size: 16px;
}

.nav-option:hover {
  scale: 100%;
  color: $color-aqua;
  border: $master-border;
}

.nav-link:active {
  color:  $color-aqua !important;
}

.nav-option:active {
  color: $color-aqua !important;
}


.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  :hover {
    color: $color-aqua
  }
}

.social {
  padding: 16px;
  font-size: 32px;
  width: 100;
  text-decoration: none;
  color: $color-white;

  :hover {
    color: $color-aqua
  }
}
