@import "./../../variables.scss";

.image {
  border-radius: 5%;
}

::ng-deep.mat-dialog-container {
  max-height: 90% !important;
  background-color: $color-black;
  padding: 8px !important;
  border-radius: 5%;
}
