@import "./../../../node_modules/bootstrap/scss/bootstrap";
@import './../variables.scss';


.home {
    width: 100%;
    align-content: center;
    text-align: center;
    padding: 20px;
    font-family: $master-font;
    font-size: 20px;
    color: $color-white; 
}
