<ul class="nav justify-content-center home">
    <li class="nav-item">
      <span class="nav-link nav-option" (click)="tabChange(0)">Studio</span>
    </li>
    <li class="nav-item">
        <span class="nav-link nav-option" (click)="tabChange(1)">Artists</span>
      </li>
    <li class="nav-item">
      <span class="nav-link nav-option" (click)="tabChange(2)">Gallery</span>
    </li>
    <li class="nav-item">
      <span class="nav-link nav-option" (click)="tabChange(3)">About</span>
    </li>
    <li class="nav-item">
      <span class="nav-link nav-option"(click)="tabChange(4)">Contact</span>
    </li>
</ul>
<div [ngSwitch]="$navSelected | async">
    <app-studio *ngSwitchCase="0"></app-studio>
    <app-artists *ngSwitchCase="1"></app-artists>
    <app-gallery *ngSwitchCase="2"></app-gallery>
    <app-about *ngSwitchCase="3"></app-about>
    <app-contact *ngSwitchCase="4"></app-contact>
</div>